<!DOCTYPE html>
<html lang="en">
    <head onload="displayTime()">
        {% load static %}
        <title>RuDist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href={% static "css/style.css" %} rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="hdata">
                <div id="htitle" class="headsty"><strong>Rutas de distribución (RuDist)</strong></div>
                <div id="htime" class="headsty">Hora:</div>
            </div>
        </header>
        <section>
            <aside>
                <ul>
                    <li><a class="active" href="/">Inicio</a></li>
                    <!-- <li><a href="/">Testers</a></li> -->
                    <li><a href="/nodos/">Nodos</a></li>
                    <li><a href="#about">Tramos</a></li>
                    <li><a href="/admin/">Usuarios</a></li>
                </ul>
            </aside>
            <article id="articleb">
                {% block content %}{% endblock %}
            </article>
        </section>
        <footer>
                <div id="mda" class="headsty"></div>
        </footer>
        <script src={% static "js/my_app.js" %}></script>
    </body>
</html>